/* Variablen für Farbangaben */
/* ==================================================================== */
$color1: #0f0f0f; /* font-lightblack  */
$color2: #aaa; /* font-grey */
$color3: #fff; /* font-white */
$color4: #d30c21; /* a-link-active-hover-visited-red */
$color5: #fff; /* border-white */
$color6: #0a8bcc; /* border-blue */
$color7: #ddd; /* border-bottom-grey */
$color8: #fff; /* bg-white */
$color9: #d30c21; /* bg-red */
$color10: #eee; /* bg-lightgrey */
$color11: #444; /* bg-darkgrey */
$color12: #000; /* black */

/* Variablen für Breakpoints */
/* ==================================================================== */
$XS: 320px; /* 20em ~ 320px wide with 16px body font */
$S: 480px; /* 30em ~ 480px wide with 16px body font */
$M: 768px; /* 48em ~ 768px wide with 16px body font */
$L: 960px; /* 60em ~ 960px wide with 16px body font */
$XL: 1024px; /* 64em ~ 1024px wide with 16px body font */
$XXL: 1280px; /* 80em ~ 1280px wide with 16px body font */
$XSneg: 304px; /* 19em ~ 304px wide with 16px body font */